# EDA Advanced Lesson

As usual, we import the necessary libraries.

In [2]:
import pandas as pd
import numpy as np

## Covariance and Correlation

Covariance and correlation are two mathematical concepts which are commonly used in statistics. They are used to determine the relationship between two variables. The covariance is used to measure the linear relationship between two variables. On the other hand, the correlation is used to measure both the strength and direction of the _linear relationship_ between two variables.

Covariance is a measure of how much two random variables vary together. It’s similar to variance, but where variance tells you how a single variable varies, covariance tells you how two variables vary together.

Correlation (coefficient) is a _normalized_ measure of covariance that is easier to understand, as it provides quantitative measurements of the statistical dependence between two random variables. The correlation coefficient is a value that indicates the strength of the relationship between variables. The coefficient can take any values from -1 to 1. The interpretations of the values are:

- **-1**: Perfect negative linear correlation
- **-0.8**: Strong negative linear correlation
- **-0.5**: Moderate negative linear correlation
- **-0.2**: Weak negative linear correlation
- **0**: No linear correlation
- **0.2**: Weak positive linear correlation
- **0.5**: Moderate positive linear correlation
- **0.8**: Strong positive linear correlation
- **1**: Perfect positive linear correlation

Here, we'll use DataFrames of stock prices and volumes obtained from Yahoo! Finance available in binary Python pickle files.

In [3]:
price = pd.read_pickle("../data/yahoo_price.pkl")
volume = pd.read_pickle("../data/yahoo_volume.pkl")

In [4]:
price

                  AAPL        GOOG         IBM       MSFT
Date
2010-01-04   27.990226  313.062468  113.304536  25.884104
2010-01-05   28.038618  311.683844  111.935822  25.892466
2010-01-06   27.592626  303.826685  111.208683  25.733566
2010-01-07   27.541619  296.753749  110.823732  25.465944
2010-01-08   27.724725  300.709808  111.935822  25.641571
...                ...         ...         ...        ...
2016-10-17  117.550003  779.960022  154.770004  57.220001
2016-10-18  117.470001  795.260010  150.720001  57.660000
2016-10-19  117.120003  801.500000  151.259995  57.529999
2016-10-20  117.059998  796.969971  151.520004  57.250000
2016-10-21  116.599998  799.369995  149.630005  59.660000

[1714 rows x 4 columns]

In [5]:
volume

                 AAPL      GOOG       IBM      MSFT
Date
2010-01-04  123432400   3927000   6155300  38409100
2010-01-05  150476200   6031900   6841400  49749600
2010-01-06  138040000   7987100   5605300  58182400
2010-01-07  119282800  12876600   5840600  50559700
2010-01-08  111902700   9483900   4197200  51197400
...               ...       ...       ...       ...
2016-10-17   23624900   1089500   5890400  23830000
2016-10-18   24553500   1995600  12770600  19149500
2016-10-19   20034600    116600   4632900  22878400
2016-10-20   24125800   1734200   4023100  49455600
2016-10-21   22384800   1260500   4401900  79974200

[1714 rows x 4 columns]

Compute percent changes of the prices using a window function (we will explain window functions in the later section).

In [6]:
returns = price.pct_change()

returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2016-10-17 -0.000680  0.001837  0.002072 -0.003483
2016-10-18 -0.000681  0.019616 -0.026168  0.007690
2016-10-19 -0.002979  0.007846  0.003583 -0.002255
2016-10-20 -0.000512 -0.005652  0.001719 -0.004867
2016-10-21 -0.003930  0.003011 -0.012474  0.042096

Compute the correlation and covariance between the returns of `MSFT` and `IBM`:

In [7]:
returns["MSFT"].cov(returns["IBM"])

np.float64(8.870655479703546e-05)

In [8]:
returns["MSFT"].corr(returns["IBM"])

np.float64(0.49976361144151144)

You can also get the full (pair-wise) correlation or covariance matrix as a DataFrame:

In [9]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000277  0.000107  0.000078  0.000095
GOOG  0.000107  0.000251  0.000078  0.000108
IBM   0.000078  0.000078  0.000146  0.000089
MSFT  0.000095  0.000108  0.000089  0.000215

In [10]:
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.407919  0.386817  0.389695
GOOG  0.407919  1.000000  0.405099  0.465919
IBM   0.386817  0.405099  1.000000  0.499764
MSFT  0.389695  0.465919  0.499764  1.000000

You can also compute pair-wise correlations between a DataFrame’s columns or rows with another Series or DataFrame. Passing a Series returns a Series with the correlation value computed for each column:

In [11]:
returns.corrwith(returns["IBM"])

AAPL    0.386817
GOOG    0.405099
IBM     1.000000
MSFT    0.499764
dtype: float64

Passing a DataFrame computes the correlations of matching column names.

In [12]:
returns.corrwith(volume)

AAPL   -0.075565
GOOG   -0.007067
IBM    -0.204849
MSFT   -0.092950
dtype: float64

### Statistical Analysis Functions

Beyond `.corr()` and `.corrwith()`, pandas provides a rich set of statistical functions for analyzing relationships and distributions in your data. Let's explore the key functions using our stock market data:

In [13]:
# 1. CORRELATION FUNCTIONS
print("=== CORRELATION FUNCTIONS ===")
print("\n1. .corr() - Pairwise correlation matrix:")
print(returns[['AAPL', 'MSFT', 'IBM']].corr())

print("\n2. .corrwith() - Correlation with specific series:")
print(returns.corrwith(returns['AAPL']))

# 3. COVARIANCE FUNCTIONS  
print("\n=== COVARIANCE FUNCTIONS ===")
print("\n3. .cov() - Pairwise covariance matrix:")
print(returns[['AAPL', 'MSFT', 'IBM']].cov())

print("\n4. Individual covariance between two series:")
print(f"AAPL vs MSFT covariance: {returns['AAPL'].cov(returns['MSFT']):.6f}")

=== CORRELATION FUNCTIONS ===

1. .corr() - Pairwise correlation matrix:
          AAPL      MSFT       IBM
AAPL  1.000000  0.389695  0.386817
MSFT  0.389695  1.000000  0.499764
IBM   0.386817  0.499764  1.000000

2. .corrwith() - Correlation with specific series:
AAPL    1.000000
GOOG    0.407919
IBM     0.386817
MSFT    0.389695
dtype: float64

=== COVARIANCE FUNCTIONS ===

3. .cov() - Pairwise covariance matrix:
          AAPL      MSFT       IBM
AAPL  0.000277  0.000095  0.000078
MSFT  0.000095  0.000215  0.000089
IBM   0.000078  0.000089  0.000146

4. Individual covariance between two series:
AAPL vs MSFT covariance: 0.000095

In [14]:
# 5. DESCRIPTIVE STATISTICS FUNCTIONS
print("=== DESCRIPTIVE STATISTICS ===")
print("\n5. .describe() - Comprehensive statistical summary:")
print(returns['AAPL'].describe())

print("\n6. Individual statistical measures:")
print(f"Standard deviation: {returns['AAPL'].std():.6f}")
print(f"Variance: {returns['AAPL'].var():.6f}")
print(f"Skewness: {returns['AAPL'].skew():.6f}")
print(f"Kurtosis: {returns['AAPL'].kurtosis():.6f}")

print("\n7. Additional measures:")
print(f"Mean: {returns['AAPL'].mean():.6f}")
print(f"Median: {returns['AAPL'].median():.6f}")
print(f"Min: {returns['AAPL'].min():.6f}")
print(f"Max: {returns['AAPL'].max():.6f}")
print(f"Range: {returns['AAPL'].max() - returns['AAPL'].min():.6f}")

=== DESCRIPTIVE STATISTICS ===

5. .describe() - Comprehensive statistical summary:
count    1713.000000
mean        0.000972
std         0.016641
min        -0.123558
25%        -0.007516
50%         0.000886
75%         0.010422
max         0.088741
Name: AAPL, dtype: float64

6. Individual statistical measures:
Standard deviation: 0.016641
Variance: 0.000277
Skewness: -0.120540
Kurtosis: 4.218746

7. Additional measures:
Mean: 0.000972
Median: 0.000886
Min: -0.123558
Max: 0.088741
Range: 0.212299

In [ ]:
# 8. QUANTILE AND PERCENTILE FUNCTIONS
print("=== QUANTILES & PERCENTILES ===")
print("\n8. Quantile analysis:")
print(f"25th percentile: {returns['AAPL'].quantile(0.25):.6f}")
print(f"75th percentile: {returns['AAPL'].quantile(0.75):.6f}")
print(f"IQR: {returns['AAPL'].quantile(0.75) - returns['AAPL'].quantile(0.25):.6f}")

print("\n9. Multiple quantiles at once:")
print(returns['AAPL'].quantile([0.1, 0.25, 0.5, 0.75, 0.9]))

# 10. ROLLING STATISTICAL FUNCTIONS
print("\n=== ROLLING STATISTICS ===")
print("\n10. Rolling statistics (30-day window):")
rolling_stats = returns['AAPL'].rolling(30)
print(f"Rolling mean (last value): {rolling_stats.mean().iloc[-1]:.6f}")
print(f"Rolling std (last value): {rolling_stats.std().iloc[-1]:.6f}")
print(f"Rolling correlation with MSFT (last value): {returns['AAPL'].rolling(30).corr(returns['MSFT']).iloc[-1]:.6f}")

### Understanding Statistical Function Results

**Key Interpretations:**

- **Correlation (-1 to 1)**: Measures linear relationship strength
  - Close to 1: Strong positive relationship 
  - Close to -1: Strong negative relationship
  - Close to 0: Weak linear relationship

- **Covariance**: Raw measure of how variables move together (units matter)

- **Skewness**: Measures asymmetry of distribution
  - Positive: Right tail is longer
  - Negative: Left tail is longer
  - Close to 0: Roughly symmetric

- **Kurtosis**: Measures "tailedness" 
  - High values: Heavy tails (more extreme values)
  - Low values: Light tails (fewer extreme values)

- **Standard Deviation vs Variance**: Both measure spread, but std dev is in original units

> **Practice Question**: Using the functions above, which two stocks show the strongest correlation? What does their covariance tell you that correlation doesn't?

## Hierarchical Indexing

Hierarchical indexing (MultiIndex) allows you to have multiple (two or more) _index levels_ on an axis. It enables "higher dimensional" data in a lower dimensional data structure.

You create a hierarchical index by simply passing a list of arrays to the index argument of a pandas DataFrame or Series.

In [ ]:
data = pd.Series(np.random.uniform(size=9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 3, 1, 2, 2, 3]])

data

In [ ]:
data.index

You can use _partial indexing_ to select subsets of data:

In [ ]:
data["b"]

In [ ]:
data["b":"c"]

In [ ]:
data.loc[["b", "d"]]

You can also select from "inner" level:

In [ ]:
data.loc[:, 2]

Hierarchical indexing works on both axes.

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                        index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                        columns=[['Ohio', 'Ohio', 'Colorado'],
                        ['Green', 'Red', 'Green']])

frame

Setting names on the axes work as usual:

In [ ]:
frame.index.names = ["key1", "key2"]
frame.columns.names = ["state", "color"]

frame

In [ ]:
frame.index.nlevels

Partial indexing works on columns too:

In [ ]:
frame["Ohio"]

You may need to rearrange the order of the levels on an axis. The `swaplevel` method will swap the levels in the MultiIndex on a particular axis. The default is to swap the levels on the rows:

In [ ]:
frame.swaplevel()

In [ ]:
frame.swaplevel(0, 1, axis=1)

You can also sort by a single level or subset of levels:

In [ ]:
frame.sort_index(level=1)

> Swap the levels on the rows then sort the index by level `0`.

It's common to use one or more columns from a DataFrame as the row index.

In [ ]:
frame = pd.DataFrame({"a": range(7), "b": range(7, 0, -1), 
                      "c": ["one", "one", "one", "two", "two", "two", "two"], 
                      "d": [0, 1, 2, 0, 1, 2, 3]})

frame

`set_index` will return a new DataFrame using one or more of its columns as the index.

In [ ]:
frame2 = frame.set_index(["c", "d"])

frame2

`reset_index` does the opposite of `set_index` and turns the index back into a column.

In [ ]:
frame2.reset_index()

You can choose to drop the columns when resetting index:

In [ ]:
frame2.reset_index(drop=True)

## Date Time Data

Pandas is oriented towards working with arrays of dates, whether used as an axis index or a column.

The `to_datetime` method parses may different kinds of date representations:

In [ ]:
dates = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]

pd.to_datetime(dates)

It uses `NaT` (Not a Time) as null values for datetime data.

In [ ]:
idx = pd.to_datetime(dates + [None])

idx

In [ ]:
pd.isna(idx)

Standard Python uses the `datetime` module to handle date and time data. Pandas has a `Timestamp` object that is similar to the `datetime` object. Pandas also has a `Timedelta` object that is similar to the `timedelta` object.

If you use `datetime` objects as index to a Series or DataFrame, Pandas will automatically convert them to `DatetimeIndex` objects.

In [ ]:
from datetime import datetime

In [ ]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7), datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = pd.Series(np.random.standard_normal(6), index=dates)

ts

In [ ]:
ts.index

Like other Series, arithmetic operations between differently indexed time series automatically align on the dates:

In [ ]:
# [::2] selects every second element
ts + ts[::2]

`DatetimeIndex` is an array of `Timestamp` objects.

In [ ]:
ts.index[0]

You can index by passing a `datetime`, `Timestamp` or `string` that is interpretable as a date:

In [ ]:
ts[datetime(2011, 1, 7)]

In [ ]:
ts[pd.Timestamp("2011-01-07")]

In [ ]:
ts["2011-01-07"]

You can even specify the year or year-month strings:

In [ ]:
# date_range generate an array of dates
longer_ts = pd.Series(np.random.standard_normal(1000), 
                      index=pd.date_range("2000-01-01", periods=1000))

longer_ts

In [ ]:
longer_ts["2001"]

In [ ]:
longer_ts["2001-05"]

Or slicing:

In [ ]:
longer_ts["2001-05":]

> Use `date_range` to generate a Series of random values from 1-31st January 2023. Then slice the Series to return data from 5-15th January.

In [ ]:
daterange = pd.date_range("2023-01-01", "2023-01-31", periods=31)
s = pd.Series(np.random.randn(len(daterange)), index=daterange)
s["2023-01-05":"2023-01-15"]

In [ ]:
price = pd.read_pickle('../data/yahoo_price.pkl')

In [ ]:
price

In [ ]:
price.index

You can access other attributes like `day_of_week` or `month`:

In [ ]:
price.index.day_of_week

In [ ]:
price.index.month

If the datetime is in a column instead of the index, you can use the `dt` accessor to access the datetime properties.

In [ ]:
price_reindex = price.reset_index()

price_reindex

In [ ]:
price_reindex["Date"].dt.day_name()

> Get the week of year from the date column and create a new column `week_of_year`.

In [ ]:
# Get the week of the year from the date column and create a new column week_of_year
price_reindex["week_of_year"] = price_reindex["Date"].dt.isocalendar().week 
price_reindex

As you can see from above, the dates are on business days, if you want to change the frequency to calendar days (known as resampling):

In [ ]:
price_resampled = price.resample('D').asfreq()

In [ ]:
price_resampled.head(10)

If you want to fill the na values with the most recent value, you can use the `.ffill()` method.

In [ ]:
price_resampled = price.resample('D').ffill()

price_resampled.head(10)

If you want to resample to a lower frequency (e.g. monthly) you need to provide an aggregation method:

In [ ]:
price_resampled = price.resample('MS').mean()

price_resampled.head()

For more resampling frequencies options, please refer to the official [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases)

> Resample price to `yearly` (start of year) frequency, use `sum` as aggregation function.

In [ ]:
price_resampled = price.resample('YS').sum()
price_resampled.head()

### Window functions

You can apply functions evaluated over a sliding window using the `rolling` method.

For example, to compute the 30-day moving average for Apple price:

In [ ]:
price["AAPL"].rolling(30).mean()

By default, rolling functions require all of the values in the window to be non-NA. This behavior can be changed to account for missing data and, especially at the beginning of the time series.

In [ ]:
price["AAPL"].rolling(30, min_periods=3).mean()

> Compute a 10-day moving average for `GOOG` with a min period of 5 days.

In [ ]:
price["GOOG"].rolling(10, min_periods=5).mean()

## Combining and Merging Datasets

Data can be combined or merged in a number of ways:

- `merge`: connects rows in DataFrames based on one or more keys. Equivalent to database `join` operations.
- `concat`: concatenates or "stacks" together objects along an axis. Equivalent to database `union` operations.
- `combine_first`: instance method enables splicing together overlapping data to fill in missing values in one object with values from another. _We went through this in unit 7_.

### `merge`

In [ ]:
df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "a", "b"], 
                    "data1": pd.Series(range(7), dtype="Int64")})

df2 = pd.DataFrame({"key": ["a", "b", "d"], 
                    "data2": pd.Series(range(3), dtype="Int64")})

In [ ]:
df1

In [ ]:
df2

Merging the two dataframes above constitutes a _many-to-one_ join; the data in `df1` has multiple rows labeled `a` and `b`, whereas `df2` has only one row for each value in the key column `key`.

In [ ]:
pd.merge(df1, df2)

If you did not specify which column(s) to join on, `merge` uses the overlapping column names as the keys. It’s a good practice to specify explicitly, though.

In [ ]:
pd.merge(df1, df2, on="key")

If the column names are different in each object, you can specify them separately:

In [ ]:
df3 = pd.DataFrame({"lkey": ["b", "b", "a", "c", "a", "a", "b"], 
                    "data1": pd.Series(range(7), dtype="Int64")})

df4 = pd.DataFrame({"rkey": ["a", "b", "d"], 
                    "data2": pd.Series(range(3), dtype="Int64")})

pd.merge(df3, df4, left_on="lkey", right_on="rkey")

The default merge type is `inner` join. You can specify the other options- `left, right, outer` via the `how` parameter.

In [ ]:
pd.merge(df1, df2, how="outer")

In [ ]:
pd.merge(df3, df4, left_on="lkey", right_on="rkey", how="outer")

Let's consider a _many-to-many_ join:

In [ ]:
df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"], 
                    "data1": pd.Series(range(6), dtype="Int64")})

df2 = pd.DataFrame({"key": ["a", "b", "a", "b", "d"], 
                    "data2": pd.Series(range(5), dtype="Int64")})

In [ ]:
df1

In [ ]:
df2

Since there were `three "b"` rows in the left DataFrame and `two` in the right one, there are `six "b"` rows in the result:

In [ ]:
pd.merge(df1, df2, how="inner")

> Merge `df1` and `df2` with a left join.

To merge with multiple keys, pass a list of column names:

In [ ]:
left = pd.DataFrame({"key1": ["foo", "foo", "bar"], 
                     "key2": ["one", "two", "one"],
                     "lval": pd.Series([1, 2, 3], dtype='Int64')})

right = pd.DataFrame({"key1": ["foo", "foo", "bar", "bar"],
                      "key2": ["one", "one", "one", "two"],
                      "rval": pd.Series([4, 5, 6, 7], dtype='Int64')})

pd.merge(left, right, on=["key1", "key2"], how="outer")

If there are overlapping non-key column names:

In [ ]:
pd.merge(left, right, on="key1")

You can pass `suffixes` to specify the strings to append to the overlaping names:

In [ ]:
pd.merge(left, right, on="key1", suffixes=("_left", "_right"))

If the merge key(s) is in the index, you can pass `left_index=True` or `right_index=True` to indicate that the index should be used as the merge key.

In [ ]:
left1 = pd.DataFrame({"key": ["a", "b", "a", "a", "b", "c"],
                      "value": pd.Series(range(6), dtype="Int64")})

right1 = pd.DataFrame({"group_val": [3.5, 7]}, index=["a", "b"])

In [ ]:
left1

In [ ]:
right1

In [ ]:
pd.merge(left1, right1, left_on="key", right_index=True)

In [ ]:
pd.merge(left1, right1, left_on="key", right_index=True)

DataFrame has a `join` method which performs a left join by default. The join key on the right dataframe has to be the index. The join key on the left dataframe can be an index or a column (by specifying the `on` parameter):

In [ ]:
left1.join(right1, on='key')

### `concat`

You can join DataFrames along any axis which is referred to as _concatenation_ or _stacking_. This is akin to database `union` operations, in any "direction" (axis).

In [ ]:
s1 = pd.Series([0, 1], index=["a", "b"], dtype="Int64")
s2 = pd.Series([2, 3, 4], index=["c", "d", "e"], dtype="Int64")
s3 = pd.Series([5, 6], index=["f", "g"], dtype="Int64")

Calling `concat` with these objects in a list glues together the values and indexes:

In [ ]:
s1

In [ ]:
s2

In [ ]:
s3

By default, `concat` works along `axis="index"`, producing another Series. If you pass `axis="columns"`, the result will instead be a DataFrame:

In [ ]:
pd.concat([s1, s2, s3])

In [ ]:
pd.concat([s1, s2, s3], axis="columns")

The default behavior of `concat` is union (`outer` join) of the indexes, you can also intersect them by passing `join='inner'`:

In [ ]:
s4 = pd.concat([s1, s3])

s4

In [ ]:
pd.concat([s1, s4], axis="columns")

In [ ]:
pd.concat([s1, s4], axis="columns", join="inner")

When combining Series along axis="columns", pass the `keys` argument for the DataFrame column headers:

In [ ]:
pd.concat([s1, s2, s3], axis="columns", keys=["one", "two", "three"])

> Concat `s1`, `s2` and `s3` along index and pass `keys=["one", "two", "three"]`.

For DataFrames, it will become a hierarchical index instead:

In [ ]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=["a", "b", "c"],
                   columns=["one", "two"])

df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=["a", "c"], 
                   columns=["three", "four"])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1, df2], axis="columns", keys=["level1", "level2"])

If the index does not contain any relevant data, and you want to avoid concatenating based on indexes, you can pass the `ignore_index=True` argument, this will assign a new default index:

In [ ]:
df1 = pd.DataFrame(np.random.standard_normal((3, 4)), 
                   columns=["a", "b", "c", "d"])

df2 = pd.DataFrame(np.random.standard_normal((2, 3)), 
                   columns=["b", "d", "a"])

pd.concat([df1, df2], ignore_index=True)

> Concat `df1` and `df2` on the column axis but ignore the index.

## Reshaping and Pivoting Data

Reshaping or pivoting dataframes refers to the process of changing the layout of a dataframe. This is useful when you want to change the granularity of your data or when you want to convert a _wide_ dataframe into a _long_ dataframe or vice versa.

### Reshaping

In [ ]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)), 
                    index=pd.Index(["Ohio", "Colorado"], name="state"),
                    columns=pd.Index(["one", "two", "three"], name="number"))

data

The `stack` method pivots the columns into rows, producing a Series with a MultiIndex.

In [ ]:
result = data.stack()

result

From a hierarchically indexed Series, you can rearrange the data back into a DataFrame with `unstack` , which pivots rows into columns.

By default, the innermost level is unstacked (same with stack).

In [ ]:
result.unstack()

You can unstack a different level by passing a level number or name:

In [ ]:
result.unstack(level=0)

In [ ]:
# or just stating the name of the level
result.unstack(level="state")

When you unstack in a DataFrame, the level unstacked becomes the lowest level:

In [ ]:
df = pd.DataFrame({"left": result, "right": result + 5},
                  columns=pd.Index(["left", "right"], name="side"))

df

In [ ]:
df.unstack(level="state")

In [ ]:
df.unstack(level="state").stack(level="side")

### Pivoting between "Wide" and "Long" Format

Long format and wide format are two common ways of organizing data in the context of databases, spreadsheets, or data analysis. They refer to the arrangement of data rows and columns.

1. Long format

Each row typically represents a single observation or entry, and each column contains variables or attributes related to that observation. This format is also known as "tidy data" or "normalized data."

Example:

| Year | Country | Population |
| ---- | ------- | ---------- |
| 2019 | SG      | 5.7        |
| 2019 | MY      | 31.5       |
| 2019 | TH      | 69.8       |
| 2020 | SG      | 5.7        |
| 2020 | MY      | 32.7       |
| 2020 | TH      | 69.8       |

Advantages:

- It is easier to handle and analyze structured data with different attributes.
- Efficient storage for sparse data, as it avoids repeating column headers.

2. Wide format

Each row contains multiple observations or entries, and each column contains variables or attributes related to that observation.

Example:

| Year | SG   | MY   | TH   |
| ---- | ---- | ---- | ---- |
| 2019 | 5.7  | 31.5 | 69.8 |
| 2020 | 5.7  | 32.7 | 69.8 |

Advantages:

- Easier to read and understand when the number of variables is limited.
- Suitable for simple summary statistics and basic analyses.

In [ ]:
price_reindex

We can "pivot" a table from a "wide" format to a "long" format using the `melt` function.

The `date` column is the group indicator, while the other columns are data values. We need to indicate the group indicator(s):

In [ ]:
melted = pd.melt(price_reindex, id_vars="Date")

melted

> Rerun `melt` and pass arguments such that the new columns are named `Company` and `Price` respectively.

Using `pivot`, we can reshape back to the original layout:

In [ ]:
reshaped = melted.pivot(index='Date', columns='variable', values='value')

reshaped

## Data Aggregation

Data aggregation is the process of grouping data together and performing calculations on them. It is equivalent to the `GROUP BY` clause in SQL.

In [ ]:
df = pd.DataFrame({"key1" : ["a", "a", None, "b", "b", "a", None], 
                   "key2" : pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"),
                   "data1" : np.random.standard_normal(7), 
                   "data2" : np.random.standard_normal(7)})

df

If you want to compute the mean for each unique value in `key1`:

In [ ]:
df.groupby("key1").mean()

It does not make sense to compute the mean for `key2` since it is a categorical variable and also serves as a key.

We can select the numeric columns to compute the mean for (after the `groupby` method):

In [ ]:
df.groupby("key1")[["data1", "data2"]].mean()

Note that the following also works, since the returned result is a DataFrame, however it is less efficient as the selection/subset happens after the computation.

In [ ]:
df.groupby("key1").mean()[["data1", "data2"]]

You can group by more than 1 column. There is a useful GroupBy method `size` which returns a Series containing group sizes.

In [ ]:
df.groupby(['key1', 'key2']).size()

You can also group by other `Series`/`array`/`list` with the same length:

In [ ]:
states = np.array(["OH", "CA", "CA", "OH", "OH", "CA", "OH"])
years = [2005, 2005, 2006, 2005, 2006, 2005, 2006]

df["data1"].groupby([states, years]).mean()

For built-in aggregation methods in pandas, refer to the [documentation](https://pandas.pydata.org/docs/user_guide/groupby.html#built-in-aggregation-methods).

> Group by `key1` and `key2` and compute the standard deviation.

To use your own aggregation functions, pass any function that aggregates an array to the `aggregate` method or its short alias `agg`:

In [ ]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [ ]:
grouped = df.groupby("key1")

grouped.agg(peak_to_peak)

In [ ]:
df.groupby("key1").agg(peak_to_peak)

You can pass a list of functions, or function names (for built-in functions) to `aggregate`:

In [ ]:
grouped.agg([peak_to_peak, "mean", "std"])

### Apply

The most general-purpose GroupBy method is `apply`, which splits the object being manipulated into pieces, invokes the passed function on each piece, and then concatenates the pieces.

In [ ]:
tips = pd.read_csv("../data/tips.csv")

tips

In [ ]:
# add a column with the tip percentage

tips["tip_pct"] = tips["tip"] / tips["total_bill"]

In [ ]:
tips.head()

Suppose we want to select the top five `tip_pct` values by group. First, write a function that selects the rows with the largest values in a particular column:

In [ ]:
def top(df, n=5, column="tip_pct"): # default is 5 rows, you can specify n and column
    return df.sort_values(column, ascending=False)[:n]

In [ ]:
top(tips, n=6)

We can then `apply` this function by different groups using `groupby`:

In [ ]:
tips.groupby("smoker").apply(top)

You can pass the arguments to the function as follows:

In [ ]:
tips.groupby(["smoker", "day"]).apply(top, n=2, column="total_bill")

> Apply the function on `day` and `time` group.

> Create a function that selects the bottom five `tip_pct` values.
>
> Then apply it on `smoker` group.

### Transform

You can also transform your data using the `transform` method. It is similar to `apply` but imposes more restrictions on the type of function you can use. The function must:

- Produce a scalar value to be broadcast to the shape of the group chunk, or
- Return an object that is the same shape as the group chunk
- Not mutate its input

In [ ]:
df = pd.DataFrame({'key': ['a', 'b', 'c'] * 4, 'value': np.arange(12.)})

df

In [ ]:
g = df.groupby('key')['value']

g.mean()

`transform` produce a Series of the same shape as `df['value']` but with values replaced by the average grouped by `key`.

We can pass a function or function name (for built-in aggregation) to `transform`:

In [ ]:
g.transform(lambda g: g.mean())

In [ ]:
g.transform('mean')

In [ ]:
def times_two(group):
    return group * 2

g.transform(times_two)

A common transformation in data analytics / science is _standardization_ or _standard scaling_. This is where we transform the data to have a mean of 0 and a standard deviation of 1. It is also known as _z-score normalization_.

The formula for standard scaling is:

$$
z = \frac{x - \mu}{\sigma}
$$

where $x$ is the value, $\mu$ is the mean, and $\sigma$ is the standard deviation.

We can achieve this using `transform`:

In [ ]:
def normalize(x):
    return (x - x.mean()) / x.std()

g.transform(normalize)

or the following works too:

In [ ]:
standardized = (df['value'] - g.transform('mean')) / g.transform('std')

standardized

## Pivot Tables and Cross-Tabulation

Pivot table is a data summarization tool that is used in the context of data processing. Pivot tables are used to summarize, sort, reorganize, group, count, total or average data. It allows its users to transform columns into rows and rows into columns. It allows grouping by any data field.

In pandas, you can use the `pivot_table` method which is made possible through the `groupby` and `reshape` operations utilizing hierarchical indexing. In addition, `pivot_table` can add partial totals, also known as _margins_.

The default aggregation for `pivot_table` is mean.

In [ ]:
tips.pivot_table(index=["day", "smoker"], values=["size", "tip", "tip_pct", "total_bill"])

You can put `smoker` in the table columns and `time` and `day` in the rows:

In [ ]:
tips.pivot_table(index=["time", "day"], columns="smoker", 
                 values=["tip_pct", "size"])

Add partial totals by passing `margins=True`:

In [ ]:
tips.pivot_table(index=["time", "day"], columns="smoker", 
                 values=["tip_pct", "size"], margins=True)

To use other aggregation functions, pass it to the `aggfunc` keyword:

In [ ]:
tips.pivot_table(index=["time", "smoker"], columns="day", 
                 values="tip_pct", aggfunc=len, margins=True)

Use `fill_value` to fill missing values:

In [ ]:
tips.pivot_table(index=["time", "smoker"], columns="day", 
                 values="tip_pct", aggfunc=len, margins=True, fill_value=0)

> Compute the sum of `tip` in a pivot table with `day` and `time` in the rows and `smoker` in the column.

A _cross-tabulation_ or _crosstab_ is a special case of pivot table that computes group frequencies (counts):

In [ ]:
pd.crosstab(index=[tips["time"], tips["day"]], columns=tips["smoker"], margins=True)